.mobileTweet_container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
}
.mobileTweet_top svg {
  width: 25px;
  fill: white;
}
.mobileTweet_top {
  justify-content: space-between;
  padding: 20px;
  max-width: 518px;
  margin: 0 auto;
}
.mobileTweet_btn button {
  padding: 8px 18px;
  width: 100%;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 16px;
  background-color: #3daef9;
  color: white;
  border: 0;
}
.mobileTweet_middle {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px 20px;
  max-width: 518px;
  margin: 0 auto;
}
.mobileTweet_input {
  width: 85%;
  align-self: flex-end;
  min-height: 140px;
  border-bottom: 1px solid rgb(68, 68, 68);
}
.mobileTweet_input textarea {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  outline: none;
  border: 0;
  font-size: 20px;
}
.mobileTweet_profilePic img {
  border-radius: 50%;
  width: 100%;
}
.mobileTweet_profilePic {
  width: 50px;
}
.mobileTweet_task_logos {
  padding-left: 60px;
  width: auto;
}
